{% extends "base.html" %}
{% block head %}{% endblock %}
{% block content %}

<p>The growth of Islamic religion in Epe is Centered on the history of the late King Kosoko who sought exile in Epe with 1500 followers as warriors and a hunter of distinguished Lagosians
such as Chief Bello, the Oloto of Oto. Chief Adeborusi the Onisemo of Lagos a ciril Chief and Oshodi Tapa, a nupe from the Niger are and an exslave of Oba Esinlokun whose real name was Lanluyi.
Other Prominenet military Personnel in Kosoko's company were Balogun Akinpelu Iposu Balogun Agbaje, Iyanda Oloko, Buraimoh Elesin, Agoro Gongosi, Aromire Ajiborisha, Etti, Disu, Kujenya and the Valiant
Buraimoh Edu</p>



{% endblock %}