{% extends "base.html" %}

{% block content %}


<body>

    <div class="container">

        <h2>THE 3(THREE) RULING HOUSE OF CHIEF IMAM OF EPE KINGDOM</h2>

        <hr>
        <img src="http://127.0.0.1:5000/static/FirstCentralMosque.png">

        <br>
        <br>

        <h4>Chief Imam Audu, Alirun & Awesu Compound Epe</h4>
        <p>The events during the lifetime of each Chief Imam of Epe as from the year 1851 (KOSOKO ERA) downwards</p>


        <p><b>CHIEF IMMA AUDU(1851-1865)</b></p>
        He was the first Chief Imam who came with Kosoko from Lagos in 1851.
        <br>
        <br>
        <b><U>EVENTS:</U></b>
        <ol>
            <li>First mosque was built at Epe by him at Oke balogun ward very close to the house of the Chief Imam Audu</li>
            <li>He established the annual Tafsir in the Ramadan fast</li>
            <li>He appointed suitable Arabic readers who did interpretation</li>
            <li>First preacher was his son named mallam uthman Audu. A perfect reader of the Quran</li>
            <li>The first Mallam who educated Epe people in Arabic was called Onigbonla who came from Ilorin </li>
        </ol>

        <hr>

        <p><b>CHIEF IMMA ALIRU(1866-1870)</b></p>
        <b><U>EVENTS:</U></b>
        <ol>
            <li>Wirdi Sheu Tijani was introduced to Epe Muslim Community by one Honourable man who was of Sierra Leone extraction and came to Epe from Lagos</li>
            <li>The position of Deputy Imam was created during this period to avoid further mis-understanding</li>
            <li>Oke Balogun, Bado Isale and Oke Posu, were set aside for the appointment of the post of Chief Imams </li>
            <li>Appointment of subordinate Chiefs: Awesu Deputy Imam of Oke Posu and Alantakun, Eketa of Bado Isale </li>
        </ol>

        <hr>

        <p><b>CHIEF IMAM AWESU(1871-1879)</b></p>
        The first pilgrims was Alhaji Agbada and Alhaji Bagadasa and Iyanda

        <br>
        <br>
        <b><U>EVENTS:</U></b>
        <ol>
            <li>He was a great learned Chief Imam</li>
            <li>He also preached for Unity, Love and Peace</li>

        </ol>

        <hr>

        <p><b>CHIEF IMAM ALATAKUN(1880-1897)</b></p>

        <b><U>EVENTS:</U></b>
        <ol>
            <li>Ceremony of Rabee‘ al-Awwal the birth day of Holy Prophet Muhammad started at Epe</li>
            <li>One Alfa Salisu came from Ilorin to Epe to conduct Tafsir after Uthman had been appointed the deputy Imam</li>

        </ol>

        <hr>

        <p><b>CHIEF IMAM UTHMAN (AUDU) (1899-1901)</b></p>

        <b><U>EVENTS:</U></b>
        <ol>
            <li>He established a muslim school</li>
            <li>First HeadMaster of the school (Alfa Harun)</li>
            <li>British Government, Official Staff was awarded to him for recognition by His Excellency Governor George Chandian Denton Esq. C.M.G as one of the three Chief Imam in the Colony with outstanding performance </li>
            <li>The Alhaji for this period were Alhaji Sule Alala, Rahimi and Dada</li>

        </ol>

        <hr>

        <p><b>CHIEF IMAM MUSA(1901-1908)</b></p>
        <p>During hist time Chief Alfa Alimi Odibo became Tafsir lecturer</p>

        <p><b>CHIEF IMAM ISMAIL (ALIRU)(1909-1939)</b></p>

        <b><U>EVENTS:</U></b>
        <ol>
            <li>Alfa Abu Bakare Ashiru became Tafsir Lecturer, when Alimi became old</li>
            <li>Central mosque was converted to big Mosque in the year 1920. Series of Muslims religious existed</li>
            <li>Alhaji & Alhaja increased than before during this period</li>

        </ol>

        <hr>

        <p><b>CHIEF IMAM MUHAMMAD TUKURU(1940-1943)</b></p>

        <hr>

        <p><b>CHIEF IMAM ABDUL-HAZEEZ GBAGO(1944-1958)</b></p>

        <b><U>EVENTS:</U></b>
        <ol>
            <li>The recovery of Nigeria Armed police guns and Ammunition's stolen away during day light by unknown armed robbers from Fakadosi</li>
            <li>He Mr. Surajudeen Awesu the native police i.e Olopa Ibile who carried out the community's assignment by arresting, the culprits</li>
            <li>He casted away Ojuoro that spread all over the rivers and caused unhealthy condition in the town</li>
            <li>The Chief Imam and League of Alfa did a wonderful and powerful prayer at the Lagoon front for the loving, peace and health to rain</li>
            <li>This period was the time Ijebu Epe broke away from Eko Epe with the promotion of Imam Hazeez to the postion of Chief Imam of Epe as whole but the so called Ijebu Epe failed to abide by the agreement that embodied them together as One Community</li>

        </ol>

        <hr>

        <p><b>CHIEF IMAM ABDULLAHI ALAYAKI HAROUN (ALIRU)(1958-1960)</b></p>

        <hr>

        <p><b>CHIEF IMAM SALIA TUKURU (AUDU)(1961-1969)</b></p>

        <hr>

        <p><b>CHIEF IMAM NOSIRU-MINALAHI (AWESU)(1969-1970)</b></p>

        <b><U>EVENTS:</U></b>
        <ol>
            <li>He was a great Imam that turned white gin to palm oil in the court premises during court proceeding</li>
            <li>He greatly helps many Epe Citizen including Chief S.I EDU chief Imam Akodu and Chief Tobun in many ways</li>

        </ol>

        <hr>

        <p><b>CHIEF IMAM SADIKU HAROUN (ALIRU)(1970-1972)</b></p>

        <hr>

        <p><b>DR CHIEF IMAM AMIDU UTHMAN AUDU (F.I.A.M.N)(1972-1999)</b></p>

        <b><U>EVENTS:</U></b>
        <ol>
            <li>Established of Deens Chieftaincy title in year 1980's</li>
            <li>Established of Olori Omo Kewu title</li>
            <li>Established of three Oniwasu-Ilu from the 3 ward group</li>
            <li>Representative of Epe Muslim Community at Nigeria Muslim Council</li>
            <li>First Chairman Nigeria supreme council for Islamic affair Epe Local Government Chapter</li>
            <li>Initiated of League of Imams & Alfa's in Epe</li>
            <li>Representative of Epe Muslim Community at League of Imams and Alfa's Lagos State Chapter</li>
            <li>Awarded conferment of the qualified administrative manager (Q.A.M) by fellowship institute of administrative management of Nigeria on 7th Dec. 1989</li>
            <li>Awarded of Honorary Doctorate Degree at Marlborough University, USA in Feb. 1999</li>

        </ol>

        <p></p>

        <hr>

        <p><b>CHIEF IMAM TAOFIKI AWESU(2000-2010)</b></p>

        <hr>

        <p><b>CHIEF IMAM SAHADALLAHI ABDULRAHMAN ALIRU(2010-TO DATE)</b></p>

        <hr>

    </div>



</body>

{% endblock %}